<table class="table">
    <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Phone</th>
            <th scope="col">Date and Time</th>
            <th scope="col">Personal Fcker</th>
            <th scope="col">Color</th>
        </tr>
    </thead>
    <tbody>
    <% @results.each do |row| %>
        <tr>
            <td><%= row['username'] %></td>
            <td><%= row['phone'] %></td>
            <td><%= row['date'] %></td>
            <td><%= row['fcker'] %></td>
            <td style="background-color: <%= row['color'] %>"><%= row['color'] %></td>
        </tr>
    <% end %>
    </tbody>    

</table>